/* You can add global styles to this file, and also import other style files */
@import "poole";
@import "hyde";
@import "variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.sidebar-sticky {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  min-height: 100%;
  left: 1rem;

  .sidebar-nav {
    align-self: flex-start;
    width: 100%;
  }
}

.lead {
  color: rgb(88, 88, 88);
}

.sub-menu-icons {
  display: flex;
  justify-content: space-between;
}
