/* You can add global styles to this file, and also import other style files */
@import "poole";
@import "hyde";
@import "variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.sidebar-sticky {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  min-height: 100%;
  left: 1rem;

  .sidebar-nav {
    align-self: flex-start;
    width: 100%;
  }
}

.lead {
  color: rgb(88, 88, 88);
}

.content,
.container {
  max-width: 100%;
  display: flex;

  @media screen and (max-width: 1650px) and (min-width: 750px) {
    margin-left: 30%;
    margin-right: 2%;
  }

  @media screen and (max-width: 1650px) {
    flex-direction: column;
  }
}

.sub-menu-icons {
  display: flex;
  justify-content: space-between;
}

.job-header {
  font-weight: 500;
  font-size: 17px;
}

b {
  font-weight: 450;
  font-style: italic;
}
