$resume-primary: #d28445;

.mat-card-avatar {
  display: flex;
  justify-content: center;
}

.mat-list-base .mat-list-item {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0.5em 1em;
  text-align: justify;
}

.mat-list-item-content {
  display: flex;
  flex-direction: column;
}

.mat-grid-tile {
  overflow: unset;
}

.mat-title {
  margin: 0;
  color: $resume-primary;
}

.mat-h3 {
  margin: 0;
}

/** Enterprise **/
.enterprise-date {
  display: flex;
  justify-content: space-between;
}

.experience-item {
  margin-bottom: 0.5em;
}

/** Interests **/
.all-interests {
  display: flex;
  justify-content: space-evenly;
}

.two-interests {
  display: flex;
  flex-direction: column;
}

.interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $resume-primary;
}
