.content,
.container {
  max-width: 100%;
  display: flex;
  margin-left: 30%; // maybe not?
  margin-right: 2%; // maybe not?

  @media screen and (max-width: 16500px) {
    // to var
    flex-direction: column;
  }
}

.resume-left {
  flex-grow: 1;
}

.resume-right {
  display: flex;
  flex-direction: column;
  flex-grow: 3;

  @media screen and (min-width: 16500px) {
    margin-left: 2em;
  }
}

.resume-card {
  margin-bottom: 1rem;
}
