.content,
.container {
  max-width: 100%;
  display: flex;
}

.resume-left {
  flex-grow: 1;
}

.resume-right {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  flex-grow: 3;
}

.resume-card {
  margin-bottom: 1rem;
}
