.content,
.container {
  max-width: 100%;
  display: flex;

  @media screen and (max-width: 1650px) and (min-width: 750px) {
    margin-left: 30%;
    margin-right: 2%;
  }

  @media screen and (max-width: 1650px) {
    flex-direction: column;
  }
}

.resume-left {
  flex-shrink: 1.5;
}

.resume-right {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1650px) and (min-width: 750px) {
    margin-left: 2em;
  }
}

.resume-card {
  margin-bottom: 1rem;
}
